.nav-container {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.nav-link {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
        &:hover {
            color: #db0000;
        }
}

.nav-btn {
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    font-size: 1rem;
        &:hover {
            color: #db0000;
        }
}

.welcome {
    font-size: 1rem;
    color: white;
}
